.jumbotron {
	background-color: #2b2f36;
	color: white;
	margin-top: 10px;
}

.card-item {
	flex: 1 280px;
}

.btn-buy {
	width: 100px;
}
.footer-icon {
	padding-right: 15px;
}
.item-icon {
	padding-right: 20px;
}

footer {
	padding: 10px 10px 0px 80px;
	background-color: #2b2f36;
	color: white;
	margin-bottom: 0px;
}