@gray: #2b2f36;

.margenes(@top,@bottom){
  margin-top: @top;
  margin-bottom: @bottom;
}

/*Fin de declaracion de mixin*/

.jumbotron {
  background-color: @gray;
  color: white;
  .margenes(10px, 32px);
}

.card-item {
  flex: 1 280px; }

.btn-buy {
  width: 100px; }

.footer-icon {
  padding-right: 15px; }

.item-icon {
  padding-right: 20px; }

footer {
  background-color: @gray;
  color: white;
  .margenes(0px, 0px);
  padding-left: 80px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px; }