$gray: #2b2f36;

@mixin margenes($top,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin padding($left,$right,$top,$bottom){
	@if($left != "auto"){
		padding-left: $left;
	}
	@if($right != "auto"){
		padding-right: $right;
	}
	@if($top != "auto"){
		padding-top: $top;
	}
	@if($bottom != "auto"){
		padding-bottom: $bottom;
	}
}

.jumbotron {
	background-color: $gray;
	color: white;
	@include margenes(10px, 32px);
}

.card-item {
	flex: 1 280px;
}

.btn-buy {
	width: 100px;
}
.footer-icon {
	@include padding(auto,15px,auto,auto);
}
.item-icon {
	@include padding(auto,20px,auto,auto);
}

footer {
	background-color: $gray;
	color: white;
	@include margenes(0px, 0px);
	@include padding(80px,10px,10px,0px)
}