.jumbotron {
  background-color: #2b2f36;
  color: white;
  margin-top: 10px;
  margin-bottom: 32px; }

.card-item {
  flex: 1 280px; }

.btn-buy {
  width: 100px; }

.footer-icon {
  padding-right: 15px; }

.item-icon {
  padding-right: 20px; }

footer {
  background-color: #2b2f36;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 80px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px; }
